<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409956614773-6odqv1oskvns8196lvdp1knf89uqbn9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409956614773-6odqv1oskvns8196lvdp1knf89uqbn9r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409956614773-q80v8qsuh72am2an9h3v32dot1avt4ei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6IXp6buw2ZeKghHhBSKiDSWMd_HpMtvI</string>
	<key>GCM_SENDER_ID</key>
	<string>409956614773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocauth</string>
	<key>PROJECT_ID</key>
	<string>blocauth-8cb42</string>
	<key>STORAGE_BUCKET</key>
	<string>blocauth-8cb42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409956614773:ios:df6bb9328b63bc1c626e3c</string>
</dict>
</plist>